:root {
  --primary-color: #ea580c;
  --size-large: 80px;
  --size-small: 1.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}
h1 {
  letter-spacing: -2px;
  word-spacing: -2px;
  margin: 0;
}
.text-regular {
  font-weight: 400;
  font-size: var(--size-small);
  line-height: 2.5rem;
}
.text-medium {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.text-bold {
  font-weight: 700;
  font-size: 2rem;
}
.text-large {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
}
.grid-container-header,
.grid-container-item-header,
.grid-container-main {
  display: grid;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.grid-container-header {
  column-gap: 50px;
  grid-template-columns: auto auto;
  margin: var(--size-small) 80px;
}
.grid-container-item-header {
  column-gap: 48px;
  grid-template-columns: auto auto auto auto auto;
  cursor: pointer;
}
.grid-container-main {
  column-gap: var(--size-large);
  margin: var(--size-large) 80px 80px 80px;
  grid-template-columns: 45% 49%;
}
.grid-item,
.grid-icon,
.grid-item-header,
.group-text,
.group-btn,
.link,
.img-teacher {
  display: flex;
  align-items: center;
}

.group-text {
  flex-direction: column;
  gap: var(--size-large);
  justify-content: flex-start;
}
.grid-item-header {
  padding: 12px 8px;
  gap: 8px;
}
button {
  cursor: pointer;
}
.group-btn {
  gap: 16px;
}
.btn,
.btn-login {
  background-color: #fff;
}
.btn-login {
  border: none;
  padding: 12px 8px;
}
.text-btn {
  padding: 0 16px;
}
.btn-orange {
  background-color: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  padding: 20px 24px;
  margin-right: 32px;
  border: 2px solid var(--primary-color);
  font-size: var(--size-small);
  font-weight: 700;
  line-height: var(--size-small);
  letter-spacing: 0.5px;
}
.text-btn-orange {
  padding: 0 24px;
  font-size: 22px;
}
.btn-orange:hover {
  background-color: #dc5603;
}
.btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn {
  border-radius: 8px;
  transition: all 0.5s ease;
  padding: 12px;
  border: 2px solid #0f172a;
}
.link {
  gap: 16px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.press-group {
  display: grid;
  gap: 48px;
  grid-template-columns: 24% auto auto auto auto auto 40%;
  align-items: center;
  width: 100%;
}
.img-teacher {
  align-self: end;
  position: relative;
}
.img-chat {
  position: absolute;
  right: -81px;
  top: -197px;
}
.img-icon {
  margin-top: 45px;
}

.special {
  position: relative;
  display: inline-block !important;
}
.special-img {
  position: absolute;
  bottom: -40px;
  left: 0;
  z-index: -1;
  height: 100px;
  width: 100% !important;
}
.group-img {
  display: flex;
  justify-self: flex-end;
}
.text-press {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 22px;
}
.chat-img{
  width: 100%; 
  max-width: 625px;
}

